html{
  font-size:80%;
  }
body{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: url('Background.jpg') no-repeat center fixed;
  background-size: cover; 
  zoom: 1;
  text-align: center;
  overflow: scroll scroll;
  font-size: 110%;
  padding-bottom: 200px;
  }

#label{
  position: absolute;
  width: 100%;
  top: 0;
  min-width: 50%;
  word-spacing: 40mm;
  text-align: center;
  border-bottom: solid #10eb77;
}
.TopTitle{
  color: #10eb77;
  text-shadow: 3px 2px purple;
}
#label a{
  text-decoration: none; 
  color: #10eb77;
}
#label a:hover{
  color: #fc0ff5;
  background-color: #10eb77;

}
#label a:active{
  color: #10eb77;
  background-color: #fc0ff5;
}
#label a:visited{
  color: #fc0ff5;
}

#footer{
  position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 60px;
   z-index: 9999;
   color: #10eb77;
   text-align: center;
   background-color: black;
}
#SubTitle{
  color: blueviolet;
}

#IndexContents{
  color:#10eb77;
  position: relative;
  margin: 0 auto;
  bottom: 0px;
  top: 97.1px;
  text-align: left;
}
.IndexPhoto{
  position: relative;
  vertical-align: middle;
  margin: 50px auto;
  max-width: 100%;
  display: inline-block;
  
}
.ContentsHead{
  text-align: center;
  color: purple;
}
ol.IndexOL{
  list-style: decimal inside;
}
.IndexLikeList{
  text-align: center;
  color: purple;
}
#PastContents{
  color:#10eb77;
  position: relative;
  margin: 0 auto;
  width: 75%;
  bottom: 0px;
  top: 97.1px;
}
.PastTable{
  text-align: center;
  border: 2px solid purple;
  border-spacing: 10px;
  width: 40px;
  max-width: 100%;
  overflow:hidden;
}
.PastTableH{
  border: 2px solid purple;
}
table.PastTable{
  border-collapse:collapse;
  width: 70%;
  margin-left: 15%;
}

h4.PastContents{
  color: blueviolet;
}
.PastContentsH{
  text-align: center;
  color: purple
}
.PastContentsP{
  text-align: left;
}
.PastPhoto{
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
}
#FutureContents{
  color:#10eb77;
  position: relative;
  margin: 0 auto;
  width: 75%;
  max-width: 100%;
  bottom: 0px;
  top: 97.1px;
  text-align: left;
}
span{
  color: red;
}


.FutureLink a{
  text-decoration: underline; 
  color: #10eb77;
}
.FutureLink a:hover{
  color: #fc0ff5;
  background-color: #10eb77;

}
.FutureLink a:active{
  color: #10eb77;
  background-color: #fc0ff5;
}
.FutureLink a:visited{
  color: #fc0ff5;
}
.FuturePhoto{
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
}
#CommentsContents{
  color:#10eb77;
  position: relative;
  margin: 0 auto;
  width: 75%;
  bottom: 0px;
  top: 97.1px;
}
.CommentsContentsH{
  text-align: center;
  color: purple
}
.CommentsContentsP{
  text-align: left;
}



